<form method="GET" action="/finish_trip">
  <div class="mdl-cell mdl-cell--12-col">
    <table class="mdl-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th></th>
          <th class="mdl-data-table__cell--non-numeric">Driver</th>
          <th>Costo</th>
          <th>Distancia conductor a origen</th>
          <th>Opiniones</th>
          <th></th>
        </tr>
      </thead>
      <% trips.each_with_index do |trip, index| %>
        <tr>
          <td>
            <label class="mdl-radio mdl-js-radio" for="trip-<%= index %>">
              <input type="radio" id="trip-<%= index %>" class="mdl-radio__button"
                     name="trip_number" value="<%= index %>"/>
            </label>
          </td>
          <td class="mdl-data-table__cell--non-numeric">
            <b> <%= trip.driver.name %> </b> <!-- Name of the driver -->
          </td>
          <td>
            <b> <%= trip.cost %> </b> <!-- Cost of the trip -->
          </td>
          <td> <%= trip.distance_driver_origin%></td>
          <td>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--3-col-phone mdl-cell--middler">
              <span class="star-span">
                <!-- Draw all the stars in the rating line. -->
                <% (1..trip.driver.avarage_rating).each do %>
                  <i class="material-icons">star</i>
                <% end %>
              </span>
            </div>
          </td>
          <td>
            <a href="/profile?user_id=<%= trip.driver.id %>"><i class="info-icon material-icons">info</i></a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="mdl-cell mdl-cell--12-col">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
            id="select-trip-button" type="submit" name="submit">Pedir viaje</button>
  </div>
</form>
